apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
      - image: {{ .Values.image }}
        name: {{ .Values.name }}
        ports:
        - containerPort: {{ .Values.targetPort }}
        envFrom:
        - secretRef:
            name: {{ .Values.envSecret }}
      imagePullSecrets:
        - name: {{ .Values.pullSecret }}